@use '../variables' as var;

$main-color: var.$main-color;
$secondary-main-color: var.$secondary-main-color;
$light-gray: var.$light-gray;

$screen-min-width: 992px;

.data-status-component {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  p {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 400px;
    background-color: rgba($light-gray, 0.2);
    color: $secondary-main-color;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
  }

  .btn {
    border: 3px solid $secondary-main-color;
  }

  @media screen and (min-width: $screen-min-width) {
    margin-left: 20%;
  }

  &.out-of-normal-flow {
    position: relative;
    margin-top: 1.5rem;

    p {
      font-size: 1.1rem;
      padding-bottom: 2.5rem;
    }

    .btn {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0.5rem;
    }

    h3,
    button {
      position: absolute;
    }

    h3 {
      bottom: 0;
      right: 5rem;
      font-size: 1.1rem;
      padding: 0.4rem 0.5rem 0.4rem 1rem;
      background:
        linear-gradient(
          90deg,
          $light-gray,
          rgba($light-gray, 0.5),
          rgba($light-gray, 0.2)
        );
      border-top-left-radius: 0.5rem;
    }

    button {
      padding: 3px 0.5rem;
      bottom: 1.1rem;
      right: 0;
      transition: all 0.3s ease-in-out;
      background-color: $secondary-main-color;
      color: $main-color;

      &:hover {
        bottom: 1.4rem;
      }
    }

    // * 1150 is the breakpoint when the whole dialog stop overlapping
    // * the pagination buttons.
    @media screen and (min-width: 1150px) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
