@use '../variables' as var;

$main-color: var.$main-color;
$secondary-main-color: var.$secondary-main-color;
$fourth-main-color: var.$fourth-main-color;
$third-main-color: var.$third-main-color;

$screen-min-width: 992px;
$screen-max-height: 576px;

menu {
  margin: 0;
}

.panel_button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  z-index: 9;
  color: $fourth-main-color;
  inset-inline-start: 10px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: all 0.1s ease;

  .bars_icon_svg {
    fill: $fourth-main-color;
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    cursor: pointer;
    color: $main-color;
    background-color: $secondary-main-color;

    .bars_icon_svg {
      fill: $main-color;
    }
  }

  @media only screen and (min-width: $screen-min-width) {
    display: none;
  }
}

.panel_menu {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  inset-inline: 0;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba($fourth-main-color, 80%);
  transition: all 0.1s ease;

  @media only screen and (min-width: $screen-min-width) {
    opacity: 1;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    align-items: center;
    background-color: transparent;
    border-inline-end: 1px solid $third-main-color;
    transition: none;
    max-width: 300px;
  }

  div {
    width: 90%;
    height: 90%;
    max-width: 400px;
    display: flex;
    padding: 0;
    flex-direction: column;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    background-color: $main-color;
    box-sizing: border-box;
    margin: 0;
    transform: translateX(-100%);
    transition: 0.1s all 0.4s ease;

    @media only screen and (max-height: $screen-max-height) {
      height: auto;
      max-height: 90%;
    }

    @media only screen and (min-width: $screen-min-width) {
      width: 100%;
      height: 100%;
      padding: 10px 0;
      border-radius: 0;
      transform: none;
      transition: none;
    }

    span {
      display: flex;
      gap: 10px;
      padding: 10px;
      align-items: center;
      justify-content: space-between;

      @media only screen and (min-width: $screen-min-width) {
        justify-content: center;
      }

      img {
        width: 60%;

        @media only screen and (min-width: $screen-min-width) {
          width: 70%;
        }
      }
    }
  }
}

.mobile_close_button {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: $fourth-main-color;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: all 0.1s ease;

  .x_icon_svg {
    fill: $fourth-main-color;
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    cursor: pointer;
    color: $main-color;
    background-color: $secondary-main-color;

    .x_icon_svg {
      fill: $main-color;
    }
  }

  @media only screen and (min-width: $screen-min-width) {
    display: none;
  }
}

.panel_visible {
  display: flex;
  transition: 0.4s all 0.1s ease;

  div {
    transition: all 0.4s ease;
  }
}

.panel_active {
  opacity: 1;

  div {
    transform: translateX(0);
  }
}

.panel_socials {
  display: flex;
  gap: 10px;
  padding: 0 0 10px;
  list-style: none;
  justify-content: center;
  margin: auto 0 0;

  a {
    display: flex;
    color: inherit;
    padding: 10px;
    font-size: 1.5rem;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.1s ease;

    &:hover {
      color: $secondary-main-color;
    }
  }

  @media only screen and (max-height: $screen-max-height) {
    margin-top: 0;
  }

  @media only screen and (min-width: $screen-min-width) {
    gap: 0;

    a {
      font-size: 1.2rem;
    }
  }
}
