@use '../variables' as var;

$dark-gray: var.$dark-gray;
$light-gray: var.$light-gray;

.vehicles__section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;

  &__overlay {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;

    h1 {
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }

    p {
      font-weight: 600;
      color: $dark-gray;
      width: fit-content;
      margin: 0 auto;
      border-bottom: 5px dotted $light-gray;
      padding-bottom: 2rem;
    }
  }

  .vehicles__list--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  // ? breakpoint for mobile devices when are in landscape mode.
  @media (orientation: landscape) and (max-height: 500px) {
    height: unset;
  }
}
