@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

$main-color: #e6e6e6; // ? (off-white) for backgrounds, etc.
$secondary-main-color: #e82127; // ? (tesla-red) for buttons border, rows border , maybe some text.
$third-main-color: #dbdbdb; // ? (for on top of off-white, e.g side panel bg-color) background.
$fourth-main-color: #161616; // ? (off-black).
$light-gray: #d6d4d4; // ? (for buttons (when no red applied) or table rows, etc).

$heading-font: 'Nunito', sans-serif; // ? 200, 300, 400.
$main-font: 'Nunito Sans', sans-serif; // ? 300, 400, 500, 600.