@forward './base/normalize.css';

@use 'variables' as var;

$main-color: var.$main-color;
$secondary-main-color: var.$secondary-main-color;
$dark-gray: var.$dark-gray;
$fourth-main-color: var.$fourth-main-color;
$main-font: var.$main-font;
$heading-font: var.$heading-font;

body {
  background-color: $main-color;
  color: $fourth-main-color;
  font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

main {
  padding-top: 70px;

  @media only screen and (min-width: 992px) {
    height: 100vh;
    max-width: 1400px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
  }
}

.btn,
input,
select {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: 2px solid $main-color;
  background-color: rgba($main-color, 90%);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  color: $dark-gray;
}

input,
select {
  &:focus {
    outline: none;
    border: 2px solid $secondary-main-color;
  }
}

.btn {
  cursor: pointer;
  color: $secondary-main-color;
  background: transparent;

  &:hover {
    background-color: $secondary-main-color;
    border: 2px solid $secondary-main-color;
    color: $main-color;
  }
}
