@forward './base/normalize.css';

@use 'variables' as var;

body {
  background-color: var.$main-color;
  color: var.$fourth-main-color;
  font-family: var.$main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var.$heading-font;
}
