@use '../../variables' as var;

$secondary-main-color: var.$secondary-main-color;

$screen-min-width: 992px;

.add-vehicle-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;

  input:not([name='modelName'], [name='rentalPrice']),
  textarea {
    width: 100%;
  }

  // stylelint-disable-next-line no-descending-specificity
  input,
  textarea {
    transition: all 0.2s ease-in-out;
    border: 4px solid transparent;

    &:focus {
      // ? border that resembles the Cybertruck interior board lines.
      border: 4px solid adjust-color($secondary-main-color, $hue: 30deg, $saturation: -40%);
      box-shadow: 0 0 0.5rem $secondary-main-color;
      scale: 1.03;
      margin: 0.5rem;
    }

    &:hover {
      scale: 1.03;
    }
  }

  @media screen and (min-width: $screen-min-width) {
    padding: 0 3rem;

    textarea {
      width: 90%;
    }

    input[name='modelName'],
    input[name='rentalPrice'] {
      align-self: flex-start;
      margin-left: 1.5rem;
    }
  }
}
